{% extends 'base.html' %}

{% block extra_title %} - Оплата и доставка{% endblock %}

{% block extra_head %}
<meta name="keywords" content="erofei markov jewelry, ювелирные магазин с доставкой, доставка ювелирных изделий, ювелирные изделия оптом, продажа ювелирных изделий, ювелирные украшения оптом" />
<meta name="description" content="Компания Erofei Markov Jewelry: украшения из золота с полудрагоценными и драгоценными камнями, бесплатная доставка по России и СНГ" />
{% endblock extra_head %}

{% block content %}
<section class="section-aboutus-page">
  <div class="container">
    <div class="row about-us-top">
      <div class=" col-sm-12 col-md-8 col-md-offset-2">
        <div class="content-holder about-us">
          <p>Компания Erofei Markov Jewelry поставляет ювелирные изделия не только по России, но и в страны СНГ. Мы рады предложить вам бесплатную доставку вашего заказа независимо от его суммы!</p>
          <p>Доставку заказов осуществляет курьерская служба СПСР, имеющая сертификат на доставку ювелирных изделий. После сверки паспортных данных и проверки товара вы оплачиваете заказ наличными курьеру.</p>
          <h3>Доставка</h3>
          <p>Курьерская служба СПСР доставляет товары в более чем 4 000 населенных пунктов России, среди которых крупные города и районные центры. Полный список филиалов службы вы можете посмотреть здесь (<a href="http://www.spsr.ru/ru/company/contacts">http://www.spsr.ru/ru/company/contacts</a>). Если вы проживаете в сельской местности, рекомендуем заказывать доставку в ближайший к вам районный центр с пометкой “До востребования”. Заказы хранятся в офисе СПСР в течение двух недель.</p>
          <p>После оформления и подтверждения отправки вашего заказа вы можете отслеживать его передвижение на сайте СПСР <a href="http://www.spsr.ru/ru/service/monitoring">http://www.spsr.ru/ru/service/monitoring</a>.</p>
          <h3>Оплата</h3>
          <p>Вы оплачиваете полученный товар только после проверки ваших паспортных данных (для физических лиц) и вскрытия отправления. Пожалуйста, при получении проверьте сохранность товара после перевозки, отсутствие брака и соответствие полученных изделий вашему заказу. Оплата осуществляется наличными курьеру, который вручает вам накладную.</p>
          <h3>Возврат</h3>
          <p>В соответствии с постановлением Правительства РФ от 19.01.1998 №55 ювелирные изделия из драгоценных металлов и драгоценных камней надлежащего качества возврату или обмену не подлежат.</p>
          <p>Компания Erofei Markov Jewelry заботится о своих клиентах и предлагает специальные условия возврата ювелирных украшений, которые вам не подошли или не понравились.</p>
          <p>Для того, чтобы вернуть ювелирное изделие, в течение 10 дней с момента получения товара, свяжитесь с нами по e-mail 499100@gmail.com или позвоните по телефонам: +7 (4942) 499-100, +7 (4942) 430-091. Для возврата ювелирного украшения вам необходимо сохранить заводскую бирку и накладную. Обращаем ваше внимание на то, что возврат товара по почте или курьерской службы осуществляется за счет клиента. После того, как товар вернется к нам, в течение 7 рабочих дней мы перечислим вам деньги.</p>
          <h3>Гарантия качества</h3>
          <p>Ювелирные украшения, представленные в каталоге Erofei Markov Jewelry, соответствуют государственным стандартам качества. Все изделия проходят обязательную проверку, что подтверждает клеймо государственной пробирной инспекции, которое поставлено на каждом ювелирном изделии. Товары, купленные в нашем интернет-магазине, комплектуются заводской биркой с информацией о весе изделия, вставках и компании-производителе. С нами вы можете быть уверены в том, что получите качественное ювелирное изделие из золота, которое прослужит вам долгие годы!</p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>
{% endblock content %}