{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<section class="section-aboutus-page">
  <div class="container">
    <div class="row" style="margin-top: 25px;">
      <div class=" col-sm-12">
        <h3 class="text-center">Выставка ювелирных изделий JUNWEX в Москве</h3>
      </div>
    </div>
    <div class="row about-us-top" style="margin-top: 20px;">
      <div class=" col-sm-12 col-md-8 col-md-offset-2">
        <div class="content-holder about-us">
          <p>Ювелирная компания “Ерофей Марков” примет участие в 10-ой международной выставке ювелирных и часовых брендов «JUNWEX Москва», которая пройдет с 1 по 5 октября 2014 года в ВДНХ. Это уникальная площадка, которая собирает не только ведущих российских производителей, но и ювелиров из Франции, Италии, Индии, Гонконга, Бразилии, Китая, Израиля, ОАЭ и других стран. JUNWEX является  не только крупнейшей, но и самой престижной специализированной выставкой в России. В 2013 году в ней приняли участие 718 компаний и более 40 000 посетителей. </p>
          <p>Компания “Ерофей Марков” представит на выставке новейшие образцы ювелирных украшений из золота с драгоценными камнями. С 1 по 5 октября действуют специальные цены для посетителей выставки, а также наиболее выгодные условия сотрудничества для оптовых клиентов.</p>
          <p>Уже сейчас вы можете посмотреть наш <a href="{% url 'catalog:catalog' %}">каталог</a>, выбрать и заказать понравившиеся изделия и получить их непосредственно на выставке. Кроме того, при онлайн-заказе ювелирных изделий из каталога всем покупателям предоставляется дополнительная скидка  10% на весь ассортимент!</p>
          <p>Ждем вас с 1 по 5 октября по адресу г. Москва, ВДНХ, павильон 75, зал А, стенд 443.</p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class=" col-sm-12">
        <img src="{% static 'images/news.jpg' %}" alt="новость"/>
      </div>
    </div>
    <hr>
  </div>
</section>
{% endblock content %}