{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<section class="section-aboutus-page">
  <div class="container">
    <div class="row" style="margin-top: 25px;">
      <div class=" col-sm-12">
        <h3 class="text-center">Выставка ювелирных изделий “ЮвелирЭкспо” в Казани</h3>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class=" col-sm-12">
        <img src="{% static 'images/news.jpg' %}" alt="новость"/>
      </div>
    </div>
    <div class="row about-us-top" style="margin-top: 20px;">
      <div class=" col-sm-12 col-md-8 col-md-offset-2">
        <div class="content-holder about-us">
          <p>Ювелирная компания “Ерофей Марков” примет участие в 12-ой специализированной выставке ювелирных изделий “ЮвелирЭкспо” в Казани, которая пройдет с 2 по 6 июля 2014 года в выставочном центре “Казанская ярмарка”. В прошлом году в крупнейшей российской выставке приняли участие 165 ведущих российских производителей из более 30 городов России.</p>
          <p>Компания “Ерофей Марков” в рамках “ЮвелирЭкспо” представит новинки ювелирных украшений из золота с драгоценными и полудрагоценными камнями по специальным ценам для посетителей выставки, а также предложит оптовым клиентам наиболее выгодные условия сотрудничества.</p>
          <p>Уже сейчас вы можете посмотреть наш <a href="{% url 'catalog:catalog' %}">каталог</a>, выбрать понравившиеся изделия, заказать,а оплатить получить их непосредственно на выставке. К тому же при заказе ювелирных изделий из каталога онлайн для оптовых и розничных покупателей предоставляется дополнительная скидка <strong>10%</strong> на весь ассортимент!</p>
          <p>Ждем вас с 2 по 6 июля по адресу г. Казань, Оренбургский тракт, 8, ВЦ “Красная ярмарка”, павильон № 3, стенд №3.216.</p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>
{% endblock content %}