{% extends 'base.html' %}
{% block requirejs %}
  require('catalog_filters');
{% endblock requirejs %}

{% block extra_title %} - Каталог{% endblock %}

{% block extra_head %}
  <meta name="keywords" content="erofei markov jewelry, ерофей марков, каталог ювелирных изделий, ювелирный интернет магазин, оптовая продажа ювелирных изделий, ювелирные изделия из золота" />
  <meta name="description" content="Каталог ювелирных изделий интернет-магазина Erofei Markov Jewelry: украшения из золота с полудрагоценными и драгоценными камнями, доставка по России и СНГ" />
{% endblock extra_head %}

{% block content %}
<section id="products-grid-sidebar" class="section-products-grid">
  <div class="container">
    <div class="col-xs-12 col-md-3">
      <div class="sidebar">
        <div class="accordion-widget category-accordions">
          <h5><a href="{% url 'catalog:catalog' %}" class="reset-filter">Сбросить фильтры</a></h5>
          <div class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">Категории</a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <ul id="js-category-filter">
                    <li>
                      <a id="js-new-filter" class="js-category {% if new %}category-selected{% endif %}" href="#">Новинки</a>
                    </li>
                    {% for category in item_categories %}
                    <li>
                      <a class="js-category {% if category.id in filter_categories %}category-selected{% endif %}" href="#" data-id="{{ category.id }}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">Виды вставок</a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <ul id="js-insertion-filter">
                    {% for insertion_kind in insertion_kinds %}
                    <li>
                      <a class="js-category {% if insertion_kind.id in filter_insertions %}category-selected{% endif %}" href="#" data-id="{{ insertion_kind.id }}">{{ insertion_kind.name }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapse3">Виды изделий</a>
              </div>
              <div id="collapse3" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <ul id="js-type-filter">
                    {% for item_type in item_types %}
                    <li>
                      <a class="js-category {% if item_type.id in filter_types %}category-selected{% endif %}" href="#" data-id="{{ item_type.id }}">{{ item_type.name }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-widget filter-accordions">
          <div class="price-filter widget">
            <h2>Цена</h2>
            <div class="price-range-holder">
              <input id="js-price-filter" type="text" class="price-slider" value="{{ price_filter.price_min }},{{ price_filter.price_max }}" data-price-min="{{ prices.price_min }}" data-price-max="{{ prices.price_max }}" data-price-min-set="{{ price_filter.price_min }}" data-price-max-set="{{ price_filter.price_max }}">
              <div class="min-value">
                {{ prices.price_min }} руб.
              </div>
              <div class="max-value">
                {{ prices.price_max }} руб.
              </div>
            </div>
          </div>
{#          <div class="size-filter widget">#}
{#            <h2>size filter</h2>#}
{#            <ul>#}
{#              <li><a href="#">xs <span>(2)</span></a>#}
{#              </li>#}
{#              <li><a href="#">s <span>(1)</span></a>#}
{#              </li>#}
{#              <li><a href="#">m <span>(2)</span></a>#}
{#              </li>#}
{#              <li><a href="#">l <span>(4)</span></a>#}
{#              </li>#}
{#              <li><a href="#">xl <span>(3)</span></a>#}
{#              </li>#}
{#              <li><a href="#">xxl <span>(1)</span></a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-6">
          <div class="sort-dropdown-holder">
            <div class="dropdown ">
              <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                                        сортировка <span class="fa fa-angle-down"></span>
                                    </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li role="presentation">
                  <a class="js-sorting-order {% if ordering_filter == '+' %}category-selected{% endif %}" data-sorting="price" role="menuitem" tabindex="-1" href="#">От <strong>меньшей</strong> к <strong>большей</strong> цене</a>
                </li>
                <li role="presentation">
                  <a class="js-sorting-order {% if ordering_filter == '-' %}category-selected{% endif %}" data-sorting="-price" role="menuitem" tabindex="-1" href="#">От <strong>большой</strong> к <strong>меньшей</strong> цене</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="grid-list-buttons">
            <ul class="list-inline">
              <li class="{% if not view_list %}active{% endif %}">
                <a data-toggle="tab" href="#grid-view" class="js-set-active-tab" data-id="grid-view"><i class="fa fa-th-large"></i> Сетка</a>
              </li>
              <li class="{% if view_list %}active{% endif %}">
                <a data-toggle="tab" href="#list-view" class="js-set-active-tab" data-id="list-view"><i class="fa fa-th-list"></i> Список</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="product-grid no-move-down tab-content">
        <!--                            grid view starts here-->
        <div id="grid-view" class="tab-pane {% if not view_list %}active{% endif %}">
          {% for product in products %}
            {% if forloop.first %}
              <div class="row">
            {% else %}
              {% if forloop.counter0|divisibleby:"3" %}
                </div>
                <div class="row">
              {% endif %}
            {% endif %}
            <div class=" col-lg-4 col-xs-12 product-holder">
              <div class="product-item text-center">
                <a href="#next" class="mini-next"></a>
                <a href="#prev" class="mini-prev"></a>
                <div class="image ">
                  <div class="product-mini-gallery">
                    <img alt="" src="{{ product.item.get_212x281_preview }}" width="212" height="281" />
                    <img alt="" src="{{ product.item.get_212x281_preview }}" width="212" height="281" />
                    <img alt="" src="{{ product.item.get_212x281_preview }}" width="212" height="281" />
                  </div>
                </div>
                <hr>
                <div class="brand">
{#                  <img alt="" src="images/brand-small03.png" />#}
                </div>
                <div class="title uppercase bold">
                  {% autoescape off %}
                    <a href="{{ product.item.get_absolute_url }}">{{ product.item.get_full_name }}</a>
                  {% endautoescape %}
                </div>
                <div class="price">
                  {% if product.has_sale %}
                    <span class="previous-price">{{ product.price_retail }} руб.</span>
                  {% endif %}
                <span>{{ product.price }} руб.</span>
                </div>
                <div class="buttons-holder">
                  <div class="add-cart-holder">
                    {% if product.item.id in cart_positions %}
                      <a class="md-button" href="{% url 'cart:order' %}" style="background-color: #e8bf1a; color: #3b3b3b;">В корзине</a>
                    {% else %}
                      <a class="md-button js-add-to-cart" data-id="{{ product.item.id }}" href="#">В корзину</a>
                    {% endif %}
                  </div>
{#                  <div class="add-wishlist-holder">#}
{#                    <a href="#" class="add-to-wishlist uppercase ic-sm-heart">add to wishlist</a>#}
{#                  </div>#}
                </div>
              </div>
            </div>
            {% if forloop.last %}
              </div>
            {% endif %}
          {% endfor %}
          <div class="paging-holder" style="margin-top: 110px;">
            <ul class="pagination-buttons">
              {% for page in paginator.get_range %}
                <li {% if page == paginator.current_page %}class="current"{% endif %}>
                  <a class="js-page {% if page == paginator.current_page %}js-active{% endif %}" data-page="{{ page }}">{{ page }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!--                            List View starts here-->
        <div id="list-view" class="tab-pane {% if view_list %}active{% endif %}">
          <div class="products-list-holder">
            {% for product in products %}
            <div class="product-list-item">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <div class="image-holder">
                    <img alt="" src="{{ product.item.get_212x281_preview }}" width="212" height="281" />
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <div class="item-details-holder">
                    <div class="brand">
{#                      <img src="images/brand-small01.png" alt="">#}
                    </div>
                    <h2 class="title"><a href="{{ product.item.get_absolute_url }}">{{ product.item.type.name }}</a></h2>
{#                    <div class="star-holder">#}
{#                      <div class="star" data-score="3"></div>#}
{#                    </div>#}
                    <div class="excerpt">
                      <p>
                        {% autoescape off %}
                          <a href="{{ product.item.get_absolute_url }}">{{ product.item.get_full_name }}</a>
                        {% endautoescape %}
                      </p>
                    </div>
{#                    <div class="color-options">#}
{#                      <div class="btn-group">#}
{#                        <button type="button" class="color-option" data-color="#B73138"></button>#}
{#                        <button type="button" class="color-option" data-color="#F2ECE0"></button>#}
{#                        <button type="button" class="color-option" data-color="#2C333D"></button>#}
{#                      </div>#}
{#                    </div>#}

          <div class="price">
            {% if product.has_sale %}
              <span class="previous-price">{{ product.price_retail }} руб.</span>
            {% endif %}
          <span>{{ product.price }} руб.</span>
          </div>
                    <div class="buttons-holder">
                      <div class="add-cart-holder">
                        {% if product.item.id in cart_positions %}
                          <a class="md-button" href="{% url 'cart:order' %}" style="background-color: #e8bf1a; color: #3b3b3b;">В корзине</a>
                        {% else %}
                          <a class="md-button js-add-to-cart" data-id="{{ product.item.id }}" href="#">В корзину</a>
                        {% endif %}
                      </div>
{#                      <div class="add-wishlist-holder">#}
{#                        <a href="#" class="add-to-wishlist uppercase ic-sm-heart">add to wishlist</a>#}
{#                      </div>#}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="paging-holder">
            <ul class="pagination-buttons">
              {% for page in paginator.get_range %}
                <li {% if page == paginator.current_page %}class="current"{% endif %}>
                  <a class="js-page {% if page == paginator.current_page %}js-active{% endif %}" data-page="{{ page }}">{{ page }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
