<div class="sidebar">
    <div class="accordion-widget category-accordions">
      <h5><a href="{% url 'catalog:catalog' %}" class="reset-filter">Сбросить фильтры</a></h5>
      <div class="accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">Категории</a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              <ul id="js-category-filter">
                <li>
                  <a id="js-special-filter" style="color: red" class="js-category {% if special %}category-selected{% endif %}" href="#">Акции</a>
              </li>
              <li>
                  <a id="js-new-filter" class="js-category {% if new %}category-selected{% endif %}" href="#">Новинки</a>
              </li>
              {% for category in item_categories %}
              <li>
                  <a class="js-category {% if category.id in filter_categories %}category-selected{% endif %}" href="#" data-id="{{ category.id }}">{{ category.name }}</a>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>
</div>
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">Виды вставок</a>
</div>
<div id="collapseTwo" class="accordion-body collapse in">
    <div class="accordion-inner">
      <ul id="js-insertion-filter">
        {% for insertion_kind in insertion_kinds %}
        <li>
          <a class="js-category {% if insertion_kind.id in filter_insertions %}category-selected{% endif %}" href="#" data-id="{{ insertion_kind.id }}">{{ insertion_kind.name }}</a>
      </li>
      {% endfor %}
  </ul>
</div>
</div>
</div>
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#collapse3">Виды изделий</a>
</div>
<div id="collapse3" class="accordion-body collapse in">
    <div class="accordion-inner">
      <ul id="js-type-filter">
        {% for item_type in item_types %}
        <li>
          <a class="js-category {% if item_type.id in filter_types %}category-selected{% endif %}" href="#" data-id="{{ item_type.id }}">{{ item_type.name }}</a>
      </li>
      {% endfor %}
  </ul>
</div>
</div>
</div>
</div>
</div>
<div class="accordion-widget filter-accordions">
  <div class="price-filter widget">
    <h2>Цена</h2>
    <div class="price-range-holder">
      <input id="js-price-filter" type="text" class="price-slider" value="{{ price_filter.price_min }},{{ price_filter.price_max }}" data-price-min="{{ prices.price_min }}" data-price-max="{{ prices.price_max }}" data-price-min-set="{{ price_filter.price_min }}" data-price-max-set="{{ price_filter.price_max }}">
      <div class="min-value">
        {{ prices.price_min }} руб.
    </div>
    <div class="max-value">
        {{ prices.price_max }} руб.
    </div>
</div>
</div>
{#          <div class="size-filter widget">#}
{#            <h2>size filter</h2>#}
{#            <ul>#}
{#              <li><a href="#">xs <span>(2)</span></a>#}
{#              </li>#}
{#              <li><a href="#">s <span>(1)</span></a>#}
{#              </li>#}
{#              <li><a href="#">m <span>(2)</span></a>#}
{#              </li>#}
{#              <li><a href="#">l <span>(4)</span></a>#}
{#              </li>#}
{#              <li><a href="#">xl <span>(3)</span></a>#}
{#              </li>#}
{#              <li><a href="#">xxl <span>(1)</span></a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
</div>
</div>
