{% extends 'base.html' %}

{% block extra_title %} - О компании{% endblock %}

{% block extra_head %}
  <meta name="keywords" content="erofei markov jewelry, ерофей марков кострома, erofei markov, ювелирный интернет магазин, ювелирные изделия оптом, ювелирный магазин кострома" />
  <meta name="description" content="Erofei Markov Jewelry: компания по оптовой и розничной продаже ювелирных изделий из золота с полудрагоценными и драгоценными камнями" />
{% endblock extra_head %}

{% block content %}
<section class="section-aboutus-page">
  <div class="container">
    <div class="row about-us-top">
      <div class=" col-sm-12 col-md-8 col-md-offset-2">
        <div class="content-holder about-us">
          <p>Имя Ерофея Маркова знает каждый школьник – именно он, обычный крестьянин, житель деревни Шарташ, в 1745 году открыл первое месторождение золота в России. В честь него названа наша компания, как знак начала и верности традициям. С тех пор технологии обработки драгоценных металлов ушли далеко вперёд!</p>
          <p>Сегодня наша компания «Ерофей Марков» опирается на достигнутое мастерство, на лучшие традиции вкупе с новаторством технологий. Наша компания предлагает сегодня нестареющую русскую классику ювелирных изделий, достойных представить Российский ювелирный промысел на международном рынке. Мы отправляем изделия по всем городам России и в страны СНГ.</p>
          <!-- <blockquote class="md-quote">
            <p>Умная цитата сюда</p>
          </blockquote> -->
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>
{% endblock content %}