{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<section class="section-aboutus-page">
  <div class="container">
    <div class="row" style="margin-top: 25px;">
      <div class=" col-sm-12">
        <h3 class="text-center">Выставка ювелирных изделий "ЮвелирЭкспо" в Казани</h3>
      </div>
    </div>
    <div class="row about-us-top" style="margin-top: 20px;">
      <div class=" col-sm-12 col-md-8 col-md-offset-2">
        <div class="content-holder about-us">
          <p>Внимание! Специальная акция на выставке «ЮвелирЭкспо» в Казани!</p>
          <p>С 1 по 5 июля 2015 г. ювелирная компания «Ерофей Марков» приглашает Вас посетить  специализированную выставку ювелирных изделий «ЮвелирЭкспо. Казань» и принять участие в акции!</p>
          <p>Условия акции следующие: при покупке любых ювелирных изделий компании «Ерофей Марков» на сумму свыше 15000 р., вы получаете в подарок подвеску из золота 585 пробы с сапфиром в подарок!</p>
          <p>Время проведения акции: с 1 по 5 июля 2015 г. Количество подвесок ограничено.  </p>
          <p>На стенде нашей компании Вы сможете ознакомиться с ювелирными украшениями из высокоценных материалов: все изделия выполнены из золота 585 пробы с натуральными бриллиантами, сапфирами, рубинами, изумрудами и др.</p>
          <p>Представленные в ассортименте кольца, серьги, нательные кресты, подвески, колье и другие изделия разнообразны по стилю и цене, поэтому Вы обязательно найдете что-то, подходящее именно Вам! Специально для молодоженов мы представим коллекцию стильных обручальных колец с широким размерным рядом.</p>
          <p>Кроме того, у нас Вы сможете заказать украшение на свой вкус.<p>
          <p>Приходите, мы будем Вас ждать в выставочном центре «Казанская ярмарка» на стенде № 2.101!</p>  
        </div>
      </div>
    </div>
    <div class="row-fluid" style="margin-top: 25px;">
      <div class="text-center col-sm-12">
        <img style="margin:auto;" class="img img-responsive" src="{% static 'images/news.jpg' %}" class="" alt="новость"/>
      </div>
    </div>
    <hr>
  </div>
</section>
{% endblock content %}
