{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<section class="section-aboutus-page">
  <div class="container">
    <div class="row" style="margin-top: 25px;">
      <div class=" col-sm-12">
        <h3 class="text-center">Выставка ювелирных изделий "ЮвелирЭкспо" в Набережных Челнах</h3>
      </div>
    </div>
    <div class="row about-us-top" style="margin-top: 20px;">
      <div class=" col-sm-12 col-md-8 col-md-offset-2">
        <div class="content-holder about-us">
          <p>С 30 июля по 2 августа 2015 года ювелирная компания "Ерофей Марков" примет участие в 1-ой специализированной выставке ювелирных изделий "ЮвелирЭкспо.Челны-2015". Мы представим как классические уже полюбившиеся всем украшения из золота с драгоценными камнями, так и новинки: изделия из серебра с эмалью и из золота с полудрагоценными камнями.</p>
          <p>Место проведения: ВЦ «ЭКСПО-КАМА», Республика Татарстан, г. Набережные Челны, 52 комплекс, район Форт-Диалога, пр. Московский, д. 140Б.</p>
          <p>Время проведения: 30 июля-1 августа с 10.00 до 18.30, 2 августа с 10.00 до 16.00.</p>
          <p>Мы будем ждать Вас на стенде №10! На выставке вы сможете приобрести <a href="/catalog">все наши изделия</a> с хорошей скидкой!</p>
        </div>
      </div>
    </div>
    <div class="row-fluid" style="margin-top: 25px;">
      <div class="text-center col-sm-12">
        <a href="/catalog"><img style="margin:auto;" class="img img-responsive" src="{% static 'images/news.jpg' %}" class="" alt="новость"/></a>
      </div>
    </div>
    <hr>
  </div>
</section>
{% endblock content %}
