{% extends 'base.html' %}
{% block requirejs %}
require('catalog_filters');
{% endblock requirejs %}

{% block extra_title %} - Каталог{% endblock %}

{% block extra_head %}
<meta name="keywords" content="erofei markov jewelry, ерофей марков, каталог ювелирных изделий, ювелирный интернет магазин, оптовая продажа ювелирных изделий, ювелирные изделия из золота" />
<meta name="description" content="Каталог ювелирных изделий интернет-магазина Erofei Markov Jewelry: украшения из золота с полудрагоценными и драгоценными камнями, доставка по России и СНГ" />
{% endblock extra_head %}

{% block content %}
<section id="products-grid-sidebar" class="section-products-grid">
    <div class="container">
        <div class="col-xs-12 col-md-3">
            {% include 'catalog/filter.html' %}
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="row">
                <div class="col-xs-6">
                    <div class="sort-dropdown-holder">
                        <div class="dropdown ">
                            <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                                сортировка <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li role="presentation">
                                    <a class="js-sorting-order {% if ordering_filter == '+' %}category-selected{% endif %}" data-sorting="price" role="menuitem" tabindex="-1" href="#">От <strong>меньшей</strong> к <strong>большей</strong> цене</a>
                                </li>
                                <li role="presentation">
                                    <a class="js-sorting-order {% if ordering_filter == '-' %}category-selected{% endif %}" data-sorting="-price" role="menuitem" tabindex="-1" href="#">От <strong>большой</strong> к <strong>меньшей</strong> цене</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-grid no-move-down">
                <!--                            grid view starts here-->
                <div id="grid-view" class="tab-pane">
                    {% for product in products %}
                    {% if forloop.first %}
                    <div class="row">
                        {% else %}
                        {% if forloop.counter0|divisibleby:"3" %}
                    </div>
                    <div class="row">
                        {% endif %}
                        {% endif %}
                        <div class=" col-lg-4 col-xs-12 product-holder">
                            <div class="product-item text-center">
                                <div class="image ">
                                    <a href="{{ product.item.get_absolute_url }}">
                                        <img alt="" src="{{ product.item.get_212x281_preview }}" width="212" height="281" />
                                    </a>
                                </div>
                                <hr>
                                <div class="title uppercase bold">
                                    {% autoescape off %}
                                    <a href="{{ product.item.get_absolute_url }}">{{ product.item.get_full_name }}</a>
                                    {% endautoescape %}
                                </div>
                                <div class="price">
                                    {% if product.has_sale %}
                                    <span class="previous-price">{{ product.price_retail }} руб.</span>
                                    {% endif %}
                                    <span>{{ product.price }} руб.</span>
                                </div>
                                <div class="buttons-holder">
                                    <div class="add-cart-holder">
                                        {% if product.item.id in cart_positions %}
                                        <a class="md-button" href="{% url 'cart:order' %}" style="background-color: #e8bf1a; color: #3b3b3b;">В корзине</a>
                                        {% else %}
                                        <a class="md-button js-add-to-cart" data-id="{{ product.item.id }}" href="#">В корзину</a>
					<a class="js-buy-one-click" data-id="{{ product.item.id }}" href="#">Купить в один клик</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.last %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="paging-holder" style="margin-top: 110px;">
                        <ul class="pagination-buttons">
                            {% for page in paginator.get_range %}
                            <li {% if page == paginator.current_page %}class="current"{% endif %}>
                                <a class="js-page {% if page == paginator.current_page %}js-active{% endif %}" data-page="{{ page }}">{{ page }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div style="display: none;">
  <div id="oneclick-order-dialog">
    <form action="">
      <input type="hidden" name="product_id"></input>
      <div>Ваше имя</div>
      <div><input type="text" class="md-input" style="width: 100%; margin-bottom: 8px;" name="name" value="{% if request.user.is_authenticated %}{{ request.user.first_name }} {{ request.user.last_name }}{% endif %}"></input></div>
      <div>Номер телефона</div>
      <div><input type="text" class="js-phone md-input"  style="width: 100%; margin-bottom: 8px;" name="phone" value="{% if request.user.is_authenticated %}{{ request.user.phone }}{% endif %}"></input></div>
      <div><button class="md-button large"  style="width: 100%; margin-bottom: 8px;" />Заказать</div>
    </form>
  </div>
  <div id="oneclick-order-confirmation">
    В ближайшее время с вами свяжется менеджер для уточнения деталей и информации о доставке.
  </div>
</div>
{% endblock content %}
