{% load static from staticfiles %}
<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Erofei Markov Jewelry</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="erofei markov jewelry, ерофей марков, каталог ювелирных изделий, ювелирный интернет магазин, оптовая продажа ювелирных изделий, ювелирные изделия из золота">
  <meta name="description" content="Каталог ювелирных изделий интернет-магазина Erofei Markov Jewelry: украшения из золота с полудрагоценными и драгоценными камнями, доставка по России и СНГ">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700' rel='stylesheet' type='text/css'>
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <script src="{% static 'js/vendor.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/partials.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% verbatim %}
<body>

<div class="wrapper">
  <header ng-controller="headerController">
    <div class="lang-bar">
      <div class="container">
        <div class="col-xs-6">
          <ul class="inline">
            <li class="active">
              <a href="#">eng</a>
            </li>
            <li>
              <a href="#">de</a>
            </li>
            <li>
              <a href="#">pl</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 text-right">
          <ul class="inline">
            <li class="active">
              <a href="#">us</a>
            </li>
            <li>
              <a href="#">eur</a>
            </li>
            <li>
              <a href="#">pln</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class=" container">
    <section class="style-one-header top-area">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div ng-hide="isAuthenticated" class="login-menu-holder ic-sm-user">
            welcome, you can
            <a href="/login">login</a> or
            <a href="/register">register</a>
          </div>
          <div class="hotline-holder ic-sm-phone">
            <label>hotline:</label>
            <span>+88 987 654 321</span>
          </div>
        </div>
        <div class="top-logo-holder col-sm-4 col-xs-12">
          <div class="top-logo">
            <a href="index.html"><img alt="LOGO" src="/static/images/logo-big.png"></a>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12" ng-controller="cartController">
          <div class="wish-cart-holder">
            <div class="wishlist-holder ic-sm-heart">
              wishlist:
              <span>2</span>
            </div>
            <div class="top-cart-holder ic-sm-basket">

              shoping cart:
              <span class="top-cart-price" style="text-transform: none;">{{nounSum()}}</span>
              <div class="total-buble">
                <span>{{nounItems()}}</span>
              </div>

              <div class="hover-holder">
                <ul class="basket-items ">
                  <li class="row">
                    <div class="thumb col-xs-3">
                      <img width="45" height="45" alt="" src="/static/images/products/product02-sq.jpg">
                    </div>
                    <div class="body col-xs-9">
                      <h5>fashion bag</h5>
                      <div class="price">
                        <span>$189.00</span>
                      </div>
                      <a class="remove-item" href="#close">x</a>
                    </div>
                  </li>
                  <li class="row">
                    <div class="thumb col-xs-3">
                      <img width="45" height="45" alt="" src="/static/images/products/product02-sq.jpg">
                    </div>
                    <div class="body col-xs-9">
                      <h5>fashion bag</h5>
                      <div class="price">
                        <span>$189.00</span>
                      </div>
                      <a class="remove-item" href="#close">x</a>
                    </div>
                  </li>
                  <li class="row">
                    <div class="thumb col-xs-3">
                      <img width="45" height="45" alt="" src="/static/images/products/product02-sq.jpg">
                    </div>
                    <div class="body col-xs-9">
                      <h5>fashion bag</h5>
                      <div class="price">
                        <span>$189.00</span>
                      </div>
                      <a class="remove-item" href="#close">x</a>
                    </div>
                  </li>
                </ul>
                <a class="top-chk-out md-button" href="checkout.html">check out</a>
              </div>
            </div>
            <div class="search-holder">
              <form>
                <input type="text" placeholder="SEARCH">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="top-menu visible-md visible-lg">
      <ul>
        <li class="mega-menu ">
          <a href="/catalog">Каталог</a>
          <a href="/orders">Корзина</a>
          <a href="/delivery">Доставка</a>
          <a href="/about">О компании</a>
          <a ng-show="isAuthenticated" ng-click="logout()">Выход</a>
          <a ng-hide="isAuthenticated" href="/login">Вход</a>
          <a ng-hide="isAuthenticated" href="/register">Регистрация</a>
          <a href=""></a>
        </li>
      </ul>
    </div>
    </div>
  </header>
  <div ng-view ng-cloak></div>
</div>
</body>
{% endverbatim %}
</html>