<section class="section-footer">
  <div class="footer-holder">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-4 col-xs-5 col-sm-6 col-md-3">
          <div class="footer-column adress-column">
            <h4>Связаться с нами</h4>
            <div class="content">
              <p class="bold">Ювелирная компания «Ерофей Марков»</p>
              <div>156022, г. Кострома, ул. Стопани, д. 42, оф. 11</div>
              <div>8 (800) 505-25-17 <small>(звонок по России бесплатный)</small></div>
              <div><a href="mailto:info@erofeimarkov.ru">info@erofeimarkov.ru</a></div>

            </div>
          </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
          <div class="footer-column">
            <h4>Поддержка</h4>
            <div class="content">
              <ul class="link-list">
                <li>
                  <a href="{% url 'pages:offer' %}">Оферта</a>
                </li>
                <li>
                  <a href="{% url 'pages:delivery' %}">Оплата и доставка</a>
                </li>
                <li>
                  <a href="{% url 'pages:contacts' %}">Связаться с нами</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-4 col-xs-5 col-sm-9 col-md-5">
          
        </div>
      </div>
    </div>
  </div>
</section>
