{% load staticfiles %}
<section class="section-footer">
  <div class="footer-holder">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-3 col-xs-5 col-sm-6 col-md-3">
          <div class="footer-column adress-column">
            <h4>Связаться с нами</h4>
            <div class="content">
              <p class="bold">Ювелирная компания «Ерофей Марков»</p>
              <div>156022, г. Кострома, ул. Стопани, д. 42, оф. 11</div>
              <div>тел./факс. +7 (4942) 499-100</div>
	          <div>тел. +7 (915) 929-91-00</div>
              <div><a href="mailto:info@erofeimarkov.ru">info@erofeimarkov.ru</a></div>
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
          <div class="footer-column">
            <h4>Поддержка</h4>
            <div class="content">
              <ul class="link-list">
                <li>
                  <a href="{% url 'pages:offer' %}">Оферта</a>
                </li>
                <li>
                  <a href="{% url 'pages:delivery' %}">Оплата и доставка</a>
                </li>
                <li>
                  <a href="{% url 'pages:contacts' %}">Связаться с нами</a>
                </li>
		<li>
		  <a href="#" class="js-buy-one-click">Заказать обратный звонок</a>
		</li>
		<li>
		  <a href="{% url 'authentication:registration' %}">Оптовым покупателям</a>
		</li>
              </ul>
            </div>
          </div>
        </div>

	<div class="col-xs-8 col-sm-6 col-md-3">
          <div class="footer-column">
	    <h4>Также нас можно найти</h4>
            <div class="content">
	      <div class="sn-links">
		<div class="sn-icons">
		  <div style="margin-bottom: 5px;">
		    <a href="https://vk.com/erofeimarkov">
		      <img src="{% static 'images/vk.png' %}" alt="Наша страница во Вконтакте"/>
		    </a>
		  </div>
		  <div>
		    <a href="https://instagram.com/erofeimarkov/">
		      <img src="{% static 'images/instagram.png' %}" alt="Мы в Instagram"/>
		    </a>
		  </div>
		</div>
		<div>
		  <a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=12..*http://market.yandex.ru/shop/259266/reviews/add"><img src="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=12..*http://img.yandex.ru/market/informer1.png" border="0" alt="Оцените качество магазина на Яндекс.Маркете." style="vertical-align: top;" /></a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="row">
        <div class="col-xs-offset-4 col-xs-5 col-sm-9 col-md-5">

        </div>
      </div>
    </div>
  </div>
</section>
