<header>
  <div class=" container">
    <section class="style-one-header top-area">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="login-menu-holder ic-sm-user">
            Добро пожаловать{% if request.user.is_authenticated %}, {{ request.user.first_name.title }} {{ request.user.last_name.title }}{% endif %}!
          </div>
          <div class="hotline ic-sm-phone">
            <span class="hotline__phone">8 (4942) 499100</span>
          </div>
          <div class="hotline">
            <span><a href="#" class="js-buy-one-click">Заказать обратный звонок</a></span>
          </div>
        </div>
        <div class="top-logo-holder col-sm-4 col-xs-12">
          <a href="{% url 'catalog:catalog' %}" class="top-logo"></a>
        </div>
        <div class="col-sm-4 col-xs-12">
          {% include 'cart/cart.html' %}
        </div>
      </div>
    </section>
    <div class="top-menu visible-md visible-lg">
      <ul>
        <li class="">
          <a href="{% url 'catalog:catalog' %}" class="js-menu" data-category="catalog">Ювелирный каталог</a>
        </li>
        <li>
          <a href="{% url 'blog.views.all_posts' %}" class="js-menu" data-category="blog">Блог</a>
        </li>
        <li>
          <a href="{% url 'pages:delivery' %}" class="js-menu" data-category="delivery">Оплата и доставка</a>
        </li>
        <li>
          <a href="{% url 'pages:contacts' %}" class="js-menu" data-category="contacts">Контакты</a>
        </li>
        <li>
          <a href="{% url 'pages:about' %}" class="js-menu" data-category="about">О компании</a>
        </li>
        <li>
          {% if not request.user.is_authenticated %}
          <a href="{% url 'authentication:login' %}" class="js-menu" data-category="login">Вход</a>
          {% else %}<li>
          <a href="{% url 'authentication:logout' %}">Выход</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</header>
